 <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let experienceEntry of experience">
          <div class="resume-content">
            <h3 class="mb-0">{{experienceEntry.designation}}</h3>
            <div class="subheading mb-3">{{experienceEntry.companyName}}</div>
            <p>{{experienceEntry.descriptionText}}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{experienceEntry.fromDate}} - {{experienceEntry.toDate}}</span>
          </div>
        </div>

   


      </div>

    </section>