<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>
    <div class="resume-content">
      <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions" [legend]="true" [colors]="colors"
        (chartClick)="onChartClick($event)">
        </canvas>
    </div>

   
 
 <!-- Architecture and Design -->
 <div class="subheading mb-3">Architecture and Design</div>
<ul class="fa-ul mb-0">
  <li>
    <i class="fa-li fa fa-check"></i> Over 6+ years of experience in application design, development, testing and deployment
    of highly scalable and distributed web applications using Java/J2EE technologies.

  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Extensive knowledge on OOPS, OOAD, UML concepts (Use Cases, Class Diagrams, Sequence
    Diagrams, Deployment Diagrams etc.).
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Experience in designing and development of enterprise systems using SOA/ Micro-services
    ,OSGI, Client server architecture.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Expertise in designing and implementing NFR/ cross cutting concerns like security,
    caching, logging, auditing etc. in  mission critical highly scalable distributed systems.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Expertise in enterprise Integration Systems using Integration patterns.
  </li>
 </ul>
 
 <!-- Front End Technologies --> 
 <div class="subheading mb-3">Front End Technologies</div>
  <ul class="fa-ul mb-0">
   <li>
    <i class="fa-li fa fa-check"></i> Front-end development experience with HTML5,Jquery, Angular7.
  </li>
     <li>
    <i class="fa-li fa fa-check"></i> Experience with developing cross platform UI screens using bootstrap 4,Angular 7,Ionic framework using mobile first approach.
  </li>
  </ul>

   <!-- Backend Technologies--> 
  <div class="subheading mb-3">Backend Technologies</div>
  <ul class="fa-ul mb-0">
  <li>
    <i class="fa-li fa fa-check"></i> Java 7 / Java 8 with excellent knowledge about concepts like Collection framework,
    Concurrency framework and new developments in java.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Hands-on experience in Spring 3/ Spring 4/ Spring Boot.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Expertise on Java REST/Soap web services development.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Experience in working with Hibernate and has excellent knowledge on JPA.
  </li>

  <li>
    <i class="fa-li fa fa-check"></i> Expertise on Message Oriented middleware (JMS, Active MQ), Apache Kafka.
  </li>

 <li>
    <i class="fa-li fa fa-check"></i> Hands-on experience in multiple search engine technologies.
  </li>
 </ul>

   <!-- Databases--> 
  <div class="subheading mb-3">Database Technologies</div>
  <ul class="fa-ul mb-0">
  
    <li>
    <i class="fa-li fa fa-check"></i> Expertise on Relational DBs (Oracle /MySQL/ SQL Server/ PostgreSQL /SQL Lite) and NoSQL
    database technologies (Couch DB, Elastic Search).
  </li>
  </ul>
  
  
 <!-- Dev Ops--> 
  <div class="subheading mb-3">Dev Ops</div>
  <ul class="fa-ul mb-0">
  <li>
    <i class="fa-li fa fa-check"></i> Experience with version control systems like GIT, SVN.
  </li>


  <li>
    <i class="fa-li fa fa-check"></i> Experience in working with continuous builds and continuous integration systems using
    Maven, Jenkins.
  </li>


  <li>
    <i class="fa-li fa fa-check"></i> Experience in DevOps tools such as Jenkins, Maven, Junit, Mockito, PMD/Check style/SonarQube,
    GIT, Amazon Web Services, Docker.
  </li>
  </ul>
  
  <div class="subheading mb-3">Process Models</div>
  <ul class="fa-ul mb-0">
  
    <li>
    <i class="fa-li fa fa-check"></i> Experience with agile software development life cycle using scrum.
  </li>


  <li>
    <i class="fa-li fa fa-check"></i> Experience in Behavior-driven development
  </li>
</ul>
   <!-- Test Automation--> 
  <div class="subheading mb-3">Test Automation</div>
  <ul class="fa-ul mb-0">
  <li>
    <i class="fa-li fa fa-check"></i> Experience in test frameworks like JUnit, Mockito, Selenium , Protractor,Soap Ui, dhc rest client
  </li>
    <li>
    <i class="fa-li fa fa-check"></i> Experience in load test using Jmeter
  </li>
</ul>
  </div>

  <div>

  </div>
</section>